<div class="card">
    <div class="card-header">
      <h5 class = "modal-title"> Vehicles in parking </h5>
    </div>
    
    <div class="card-body">
      <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Plate</th>
              <th scope="col">Vehicle type</th>
              <th scope="col">Entry date</th>
              <th scope="col">Give out</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let parking of vehiclesInParking; let i = index">
                <td>{{ i }}</td>
                <td>{{ parking.vehicle.plate }}</td>
                <td>{{ parking.vehicle.vehicleType | titlecase }}</td>
                <td>{{ parking.inDate | date: "dd/mm/yyyy hh:mm a" }}</td>
                <td><button (click) = "giveOutFromParking(parking.vehicle)"  class="btn btn-outline-warning btn-sm" style="font-size:20px;"><i class="fa fa-arrow-right"></i></button></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>